/*criadno variaveis para facilitar a estilizaçãor*/

:root {
    --font-raleway: "Raleway", system-ui;
    --font-quicksand: "Quicksand", system-ui;

    --white: #ffff;
    --light-purple: #ece0f5;
    --ligth: #fbe4ff;
    --dark: #2c0735;
    --primary-color:
    --secundary-color:

}